<!-- ngIf -->
<form>
  <label for="show">表示/非表示:</label>
  <input id="show" name="show" type="checkbox" [(ngModel)]="show" />
</form>
<div *ngIf="show; then trueContent; else elseContent"></div>

<ng-template #trueContent>
  <p>表示中です</p>
</ng-template>

<ng-template #elseContent>
  <p>非表示中です</p>
</ng-template>

<!-- ngSwitch -->
<form>
  <select name="season" [(ngModel)]="season">
    <option value="">四季を選択</option>
    <option value="spring">春</option>
    <option value="summer">夏</option>
    <option value="autumn">秋</option>
    <option value="winter">冬</option>
  </select>
</form>
<div [ngSwitch]="season">
  <span *ngSwitchCase="'spring'">春の季節です</span>
  <span *ngSwitchCase="'summer'">夏の季節です</span>
  <span *ngSwitchCase="'autumn'">秋の季節です</span>
  <span *ngSwitchCase="'winter'">冬の季節です</span>
  <span *ngSwitchDefault>選択してください</span>
</div>

<!-- ngFor -->
<ul *ngFor="let u of users; trackBy: trackFn">
  <li>ID:{{u.id}}</li>
  <li>名前:{{u.name}}</li>
</ul>

<input type="button" (click)="onclick()" value="更新">

<!-- ngStyle -->
<div [ngStyle]="style">
  <p>スタイル</p>
</div>

<!-- ngTempleteOutlet -->
<ng-template #myTemp 
  let-id     = "id" 
  let-name   = "name" 
  let-gender = "gender" 
  let-age    = "age"
>
  <ul>
    <li>ID:{{id}}</li>
    <li>名前:{{name}}</li>
    <li>性別:{{gender}}</li>
    <li>年齢:{{age}}</li>
  </ul>
</ng-template>

<select name="temp" [(ngModel)]="temp">
  <option *ngFor="let user of users; let i = index" [value]="i">
    {{user.name}}
  </option>
</select>
<ng-container *ngTemplateOutlet="myTemp; context: users[temp]"></ng-container>

